body {
    padding: 50px;
    /*background-image: url("images/agency-img.jpg");*/
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(138, 190, 145, 0.8);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(4, 44, 8, 0.8); 
    padding: 20px;
    border-radius: 20px;
    background-image: url("images/FolioBG.png");
    background-size: 430px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 15px #333333;
    
}

.form-group {
    margin-bottom: 30px;
}

.img-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}

/*.img-resize {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
}*/

.alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #d13939;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
p{
    color:white;
}
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-btn {
    text-align: center;
}
h1{
    color: white;
    text-shadow: 10px 10px 10px #302f2f;
}

 .forgot-password-link {
    font-size: 14px; 
}
label{
    color:white;
}
.green-border {
    border: 2px solid green;
  }
